@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  text-align: center;
}

.banner img {
  width: 300px;
}

@media screen and (min-width: 426px) {
  .banner img {
    width: 350px;
  }
}
