#lifeImg {
  width: 100px;
}

.cakeImg {
  width: 50px;
}

.catHome {
  table-layout: fixed;
}

.foodImg {
  width: 70px;
  margin-bottom: 20px;
}
.life-birth-age-center {
  display: flex;
  justify-content: center;
}

.life-birth-age-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-width: 320px;
  align-items: center;
}

.feedButton {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: gray;
  border: thin;
  background-color: rgb(253, 253, 253);
}

.feedButton:hover {
  color: black;
}

.catHome {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  min-width: 225px;
}

@media screen and (min-width: 426px) {
  .feedButton {
    font-size: 30px;
  }
}
