.gameOverImg {
  width: 150px;
}

.restartButton {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: gray;
  border: thin;
  background-color: rgb(253, 253, 253);
}

.restartButton:hover {
  color: black;
}

@media screen and (min-width: 426px) {
  .gameOverImg {
    width: 200px;
  }
}
