.start_button {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: gray;
  border: thin;
  background-color: rgb(253, 253, 253);
}

.start_button:hover {
  color: black;
}
.createBy {
  font-family: "Press Start 2P", cursive;
  color: rgb(196, 196, 196);
  font-size: 12px;
}

.creator {
  font-family: "Press Start 2P", cursive;
  color: rgb(196, 196, 196);
}

.interduction {
  color: rgb(56, 61, 141);
  font-family: "微軟正黑體";
  font-size: 14px; /*字級*/
}

@media screen and (min-width: 426px) {
  .start_button {
    font-size: 30px;
  }
}
